body
{
    background-color: palegoldenrod;
}

#backButton
{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:20px;
    border:black solid 1px;
    background-color: palegoldenrod;
    transition: background-color 1s, border-radius 1s, border 1s ease;
}

#backButton:hover
{
    background-color:white;
    border-radius:25px;
    border:none;
}
