html, body
{
    min-height:100%;
    margin:0;
    min-width: 100%;
    overflow:auto;
}
#canvasDiv
{
    position: relative;
    width :50%;
    margin:auto;

}

#selection
{
    position: relative;
    margin:auto;
    width: 50%;
    text-align:left;
    line-height: 30px;
}

#backButton
{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:20px;
    width:20%;
    border:black solid 1px;
    background-color: palegoldenrod;
    transition: background-color 1s, border-radius 1s, border 1s ease;
    left:0;
    top:0;
}

#backButton:hover
{
    background-color:white;
    border-radius:25px;
    border:none;
}


body
{
    margin-top:2%;
    background-color:palegoldenrod;
}

#countriesHere
{
    display:inline;
}

#town
{
    display:inline;
}

#winText
{
    text-align: center;
}

#canvas
{

    left: 0px;
    top: 0px;
    width : 100%;
}

#warning
{
    position: absolute;
    top: 0;
}

#winText
{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    margin:auto;
    color: white;
}

@media screen and (max-width:330px)
{
    body
    {
        width:100%;
    }
    #backButton
    {
        width:100%;
        position: relative;
        top:0;
    }
}

/*@media screen and (max-width:710px)
{
    #canvasDiv
    {
    position: relative;
    width :50%;
    margin:auto;

    }
    #canvas
    {
        width: 100%;
    }

}
*/