#canvasDiv
{
    position: relative;
    width :50%;
    margin:auto;

}

#selection
{
    position: relative;
    margin:auto;
    width: 50%;
    text-align:left;
    line-height: 30px;
}

#backButton
{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:20px;
    width:20%;
    border:black solid 1px;
    background-color: palegoldenrod;
    transition: background-color 1s, border-radius 1s, border 1s ease;
}

#backButton:hover
{
    background-color:white;
    border-radius:25px;
    border:none;
}


body
{
    margin-top:2%;
    background-color:palegoldenrod;
}

#countriesHere
{
    display:inline;
}

#town
{
    display:inline;
}

#objects
{
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
}

#canvas
{
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    border: solid 1px black;
}

@media screen and (max-width:375px)
{
    #backButton
    {
        width:30%;
    }
}

@media screen and (max-width:250px)
{
    #backButton
    {
        width:100%;
    }
}