
#buttons
{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-content: center;
    justify-content: center;
    top:50%;
    bottom:30%;
    left:0;
    right:0;
    margin:auto;

}

#instructionsButton, #gameButton, #creditsButton
{
    margin-left:5%;
    margin-right:5%;
    width: 20%;
    height: 20%;
}

header
{
    text-align:center;
    font-size:40px;
    text-transform: uppercase;
}