#canvasDiv
{
    position: relative;
    width :50%;
    margin:auto;
}

#selection
{
    position: relative;
    width: 50%;
    text-align:center;
    line-height: 30px;
}

#countriesHere
{
    display:inline;
}

#town
{
    display:inline;
}

#objects
{
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
}

#canvas
{
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    border: solid 1px black;
}
